<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login</title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid email and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form action="#" th:action="@{/login}" th:object="${user}" method="post">
            <table>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" th:field="*{email}" name="email" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" th:field="*{password}" name="password "/></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
        <br/>
        <a href="/signup">Register</a>
    </body>
</html>